# Environments
.venv/
venv/
**/venv/

# Environment variables
.env

# Python cache
__pycache__/

# Data files
*.csv
*.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db


coursera/

# --- Ignore personal and temp files ---
questions_for_asha.txt
*.csv
*.json

__pycache__/
.venv/
